body{
   background-color: #f0f0f0;
}
.navbar{
   background-color: rgb(212, 0, 255) ;
}
.nav-link{
   padding-left: 19px!important;
   padding-right: 19px!important;
}
.nav-link:hover{
   transition: .5s;
   background-color: rgb(130, 47, 155);
   color: white!important;
   border: none;
   border-radius: 5px;
}
.form-check-label{
   width: 100%;
}
.login-card{
   margin: auto;
   /* width: 50%; */
}

.start-btn{
   margin: auto;
   padding:30px;
   font-size: 30px;
}

.form-check li{
   list-style-type: none;
   padding:8px;
}
.form-check li:hover{
   background-color:rgba(128, 128, 128, 0.226);
   transition: .5s;
}

footer a{
   text-decoration: none;
}